#### 4. Cross table

In [10]:
import numpy as np
import pandas as pd

a = np.array(["foo", "foo", "foo", "foo", "bar", "bar",
              "bar", "bar", "foo", "foo", "foo"], dtype=object)

b = np.array(["one", "one", "one", "two", "one", "one",
              "one", "two", "two", "two", "one"], dtype=object)

c = np.array(["dull", "dull", "shiny", "dull", "dull", "shiny",
              "shiny", "dull", "shiny", "shiny", "shiny"], dtype=object)

In [9]:
print(a)

['foo' 'foo' 'foo' 'foo' 'bar' 'bar' 'bar' 'bar' 'foo' 'foo' 'foo']

In [11]:
type(a)

numpy.ndarray

In [13]:
pd.crosstab(a,                                             # coluna que ficará como linhas                                 \                                                      
            [b,c],                                         # colunas que ficarão como colunas                              \
            rownames=['a'],                                # nome das linhas                                               \
            colnames=['b', 'c'])                           # nome das colunas

b    one        two
c   dull shiny dull shiny
a
bar    1     2    1     0
foo    2     2    1     2

In [14]:
foo = pd.Categorical(['a', 'b'], categories=['a', 'b', 'c'])

bar = pd.Categorical(['d', 'e'], categories=['d', 'e', 'f'])

In [15]:
print(foo)

['a', 'b']
Categories (3, object): ['a', 'b', 'c']

In [16]:
type(foo)

pandas.core.arrays.categorical.Categorical

In [17]:
pd.crosstab(foo, bar)

col_0  d  e
row_0
a      1  0
b      0  1

In [18]:
pd.crosstab(foo, bar, dropna=False)

col_0  d  e  f
row_0
a      1  0  0
b      0  1  0
c      0  0  0