#### 1. Operações básicas

In [1]:
# soma
1+1

2

In [1]:
# divisão
3/2

1.5

In [2]:
# resto
3 % 2

1

In [3]:
4 - 10

-6

In [4]:
(4 - 6) * 2

-4

In [5]:
# exponenciação
4 ** 2

16

In [8]:
# atribuição de variáveis
a = 1
b = 2
c =  a + b


print(c)

3

In [15]:
# print
print("a: ", a, "\t",  "b: ", b )
print("a: ", a, "\n",  "b: ", b )
print("a: ", a, \
        "b: ", b )

a:  1 	 b:  2
a:  1
 b:  2
a:  1 b:  2

In [16]:
print(a/b)

0.5

In [17]:
import math

In [20]:
# funções logarítmicas: retorna e elevado a x
x = 2
math.exp(x)

7.38905609893065

In [24]:
# funções logarítmicas: retorna o logaritmo de x na base 2

math.log2(x)

1.0

In [25]:
# funções logarítmicas: retorna o logaritmo de x na base 10

math.log10(x)

0.3010299956639812

In [27]:
# funções logarítmicas: retorna o logaritmo de x na base b, apenas quando b é diferente de 2 e 10
math.log(2,5)

0.43067655807339306

In [28]:
math.pow(2,3)

8.0

In [29]:
math.sqrt(16)

4.0

In [34]:
# listas

dados = list(range(1,11,1))
dados

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [35]:
# slicing

dados[2:5]

[3, 4, 5]

In [36]:
# changing

dados[0]= 100

dados

[100, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [39]:
dados[0] = 1

In [40]:
dados

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [116]:
type(dados)

list

In [41]:
dados[-1]

10

In [42]:
dados[-2]

9

In [45]:
dados[:-2]

[1, 2, 3, 4, 5, 6, 7, 8]

In [46]:
dados[-2:]

[9, 10]

In [47]:
dados[:]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [48]:
# procura
1 in dados

True

In [49]:
100 in dados

False

In [60]:
y = 100

y in dados

print("O número {0} está na lista?".format(y))

O número 100 está na lista?

In [61]:
dados[0:2] = [100, 200]
print(dados)

[100, 200, 3, 4, 5, 6, 7, 8, 9, 10]

In [63]:
dados.append(11)
print(dados)

[100, 200, 3, 4, 5, 6, 7, 8, 9, 10, 11, 11]

In [65]:
dados.count(10)

1

In [70]:
dados.sort()
dados

[3, 4, 5, 6, 7, 8, 9, 10, 11, 11, 100, 200]

In [89]:
dados[0:2] = 3, 4

In [97]:
dados.extend([1,2])

In [100]:
dados.sort()
dados

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 11, 100, 200]

In [101]:
dados.index(200)

13

In [102]:
dados_clear = dados

In [105]:
dados_clear

[]

In [104]:
dados_clear.clear()

In [106]:
dados_dict = {'nome': 'José Alvares',
              'idade': 39,
              'estado_civil': 'casado'}

In [113]:
dados_dict

{'nome': 'José Alvares',
 'idade': 39,
 'estado_civil': 'casado',
 'estado': 'SP',
 'notas': {'matemática': 9.0, 'inglês': 10.0, 'geografia': 7.5}}

In [109]:
dados_dict['nome']

'José Alvares'

In [112]:
dados_dict['notas'] = {'matemática': 9.0,
                       'inglês': 10.0,
                       'geografia': 7.5}

In [114]:
dados_dict['notas']['inglês']

10.0

In [115]:
type(dados_dict)

dict

In [117]:
#tuplas - imutáveis
lat_long_coordenadas = (-23.588254, -46.632477)

In [118]:
type(lat_long_coordenadas)

tuple

In [119]:
lat_long_coordenadas[0]

-23.588254

In [120]:
# vejam que deu erro ao tentarmos substituir o valor por 0
lat_long_coordenadas[0] = 6

TypeError: 'tuple' object does not support item assignment

In [122]:
# localização na memória
id(lat_long_coordenadas)

1655255469632

In [124]:
lat_long_coordenadas += (-5,)

In [130]:
lat_long_coordenadas

(-23.588254, -46.632477, -5, 'string', 'string')

In [126]:
# como a tupla foi alterada, ela passa a ocupar um espaço diferente na memória
id(lat_long_coordenadas)

1655254807424

In [129]:
# pode conter estrutura de dados diferentes
lat_long_coordenadas += ("string",)

In [131]:
from collections import namedtuple

In [132]:
coordenadas = namedtuple('coordenadas', ['latitude', 'longitude'])

In [133]:
coordenadas

__main__.coordenadas

In [134]:
lat_long_tuple = coordenadas(-23.588254, longitude=-46.632477)
lat_long_tuple

coordenadas(latitude=-23.588254, longitude=-46.632477)

In [135]:
lat_long_tuple[0]

-23.588254

In [137]:
# não funciona por ser uma tupla
lat_long_tuple[0] = 0

TypeError: 'coordenadas' object does not support item assignment